.btn-outline-dark{
    margin: 10px;
  }
.logo{
    height: 100px;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    cursor: pointer;
}
.container {
    padding: 10px;
}
